ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

li.main {
    align-items: center;
    display: inline-block;
}

li.main a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
body{
    background-color: #73C2FB;
}
ul.competences
{
    font-size: 25px;
}
.exprouge{
    color: red;
}
.etoile{
    width: 67px;
    height: auto;
    margin-right: 5px;
}
.etoile2
{
    width: 67px;
    height: auto;
    margin-right: 5px;
}